body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #121212;
    font-family: 'News Cycle', 'Arial', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.flag-icon {
    font-size: 24px; /* Ajuste o tamanho conforme necessário */
    margin-left: 10px; /* Espaçamento entre os ícones */
    color: #ffffff; /* Cor do ícone */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background-color: rgba(18, 18, 18, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.navbar-logo {
    margin-left: 20px;
    height: 40px;
    width: auto;
    border-radius: 50%;
    opacity: 0; 
}

.language-link {
    display: inline-block; /* Permite que o link se comporte como um bloco em linha */
    vertical-align: middle; /* Alinha verticalmente a imagem e o texto */
}

.img-language {
    width: 25px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 3px; /* Espaçamento entre a imagem e o texto */
    vertical-align: middle; /* Alinha a imagem ao meio em relação ao texto */
}

.navbar-links {
    margin-right: 20px;
}

.navbar-links a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.3s ease;
    font-family: 'News Cycle', sans-serif;
}

.navbar-links a:hover {
    color: #E32934;
}

.news-cycle-regular {
    font-family: "News Cycle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.news-cycle-bold {
    font-family: "News Cycle", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container {
    position: absolute; /* Permite que o container seja posicionado em relação ao body */
    top: 50%; /* Move o container para 50% da altura do body */
    left: 50%; /* Move o container para 50% da largura do body */
    transform: translate(-50%, -50%); /* Ajusta a posição para centralizar */
    width: 100%; /* Largura do container */
    max-width: 600px; /* Largura máxima do container */
    text-align: center; /* Centraliza o texto dentro do container */
    padding: 20px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
}

form {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group>div {
    flex: 1 0 calc(50% - 10px);
    /* divide em duas colunas com espaço entre elas */
    margin-right: 10px;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    display: block;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #2e2e2e;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
}

option {
    background-color: #2e2e2e;
    color: #ffffff;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #eee;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.logo_img {
    margin-bottom: 5%;
    width: 100%;
    max-width: 300px;
    height: auto;
}

.footer {
    position: fixed; /* Fixa o footer na parte inferior da janela */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1e1e1e;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    margin: 0; /* Remove margens */
}

.github {
    text-decoration: none;
    text-transform: uppercase;
    color: #E32934;
}

.footer a.github:hover {
    color: #f0858c;
}

button {
    color: #eee;
    padding: 0em 3em;
    background: none;
    border-radius: 8px;
    border: 1px solid #E32934;
    letter-spacing: 0.20em;
    line-height: 4em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    text-shadow: rgba(0, 0, 0, 0.3) 0.1em 0.1em 0.2em;
}

button:hover {
    background: #E32934;
    color: #eee;
    cursor: pointer;
}

@font-face {
    font-family: News Cycle;
    font-style: normal;
    font-weight: 400;
    src: url(/cf-fonts/s/news-cycle/5.0.18/latin/400/normal.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: News Cycle;
    font-style: normal;
    font-weight: 400;
    src: url(/cf-fonts/s/news-cycle/5.0.18/latin-ext/400/normal.woff2);
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-display: swap;
}

@font-face {
    font-family: News Cycle;
    font-style: normal;
    font-weight: 700;
    src: url(/cf-fonts/s/news-cycle/5.0.18/latin/700/normal.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: News Cycle;
    font-style: normal;
    font-weight: 700;
    src: url(/cf-fonts/s/news-cycle/5.0.18/latin-ext/700/normal.woff2);
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-display: swap;
}


/* Responsividade */
@media (max-width: 768px) {

    .container {
        max-width: 500px;
        top: 40%;
    }

    .form-group>div {
        flex: 1 1 0 0 100%;
    }

    .footer {
        width: auto; /* Ajusta a largura para dispositivos menores */
        font-size: 10px;
    }

    .footer p {
        display: flex;
        flex-direction: column;
    }

    .footer p a.github {
        display: block;
    }

    select {
        width: 100%;
        padding: 0.5em 6%;
        font-size: 16px;
        font-size: 12px;
    }

    label {
        font-size: 18px;
        margin-bottom: 5px;
        width: 100%;
        text-align: right;
        text-transform: uppercase;
        display: block;
    }

    option {
        background-color: #2e2e2e;
        color: #ffffff;
    }

    button {
        color: #eee;
        padding: 0em 3em;
        background: none;
        line-height: 4em;
        font-size: 13px;
    }

    .logo_img {
        max-width: 120px;
    }

    .navbar {
        padding: 15px 0;
    }

    .navbar-logo {
        height: 30px;
    }

    .navbar-links a {
        font-size: 12px;
        margin-left: 10px;
    }

    .container {
        margin-top: 60px;
    }

}

/* TEMA CLARO */
body.light-theme {
    background-color: #e4e4e4;
    color: #333333;
}

body.light-theme .container {
    background: #f4f4f400;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

body.light-theme .title {
    color: #030303;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

body.light-theme form {
    background: #f0efef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

body.light-theme select {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #cccccc;
}
body.light-theme option {
    background-color: #ffffff;
    color: #333333;
}

body.light-theme .navbar {
    background-color: #f4f4f400;
}

body.light-theme .navbar-links a {
    color: #333333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

body.light-theme .navbar-links a:hover {
    color: #E32934;
}

body.light-theme button {
    background-color:#E32934;
    color: #f4f4f4;
    border: 1px solid #E32934;
    text-shadow: rgba(0, 0, 0, 0.1) 0.1em 0.1em 0.2em;
}

body.light-theme button:hover {
    color: #f4f4f4;
    background-color: #640007;
    border: 1px solid #640007;
}

body.light-theme .footer {
    background-color: #ffffff;
    color: #333333;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #cccccc;
}

body.light-theme .footer a.github {
    color: #E32934; /* Cor do link no footer */
}

body.light-theme .footer a.github:hover {
    color: #640007;
}

/* Switch de Tema Dark e light - Uiverse.io  andrew-demchenk0 */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 45.8px;
    height: 23.8px;
}

.switch input {
    opacity: 0; /* Torna o checkbox invisível */
    width: 0; /* Remove a largura do checkbox */
    height: 0; /* Remove a altura do checkbox */
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    /* Cor de fundo do switch */
    transition: .4s;
    /* Transição suave */
    border-radius: 22px;
    /* Bordas arredondadas */
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px; /* 30px reduzido em 30% */
    width: 21px; /* 30px reduzido em 30% */
    border-radius: 15px; /* Bordas arredondadas do botão */
    left: 1.4px; /* Posição inicial do botão */
    bottom: 1.4px; /* Posição inicial do botão */
    z-index: 2; /* Coloca o botão acima do fundo */
    background-color: #e8e8e8; /* Cor do botão */
    transition: .4s; /* Transição suave */
}

.sun svg {
    position: absolute;
    top: 4.2px; /* Posição do ícone do sol */
    left: 25px; /* Posição do ícone do sol */
    z-index: 1; /* Coloca o ícone do sol abaixo do botão */
    width: 16.8px;
    height: 16.8px;
}

.moon svg {
    fill: #73C0FC; /* Cor do ícone da lua */
    position: absolute;
    top: 3.5px; /* Posição do ícone da lua */
    left: 3.5px; /* Posição do ícone da lua */
    z-index: 1; /* Coloca o ícone da lua abaixo do botão */
    width: 16.8px;
    height: 16.8px;
}

.sun svg {
    animation: rotate 15s linear infinite; /* Animação de rotação do sol */
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.moon svg {
    animation: tilt 5s linear infinite; /* Animação de inclinação da lua */
}

@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.input:checked+.slider {
    background-color: #183153; /* Cor de fundo quando o switch está ativado */
}

.input:focus+.slider {
    box-shadow: 0 0 1px #183153; /* Sombra quando o switch está focado */
}

.input:checked+.slider:before {
    transform: translateX(22px); /* Move o botão para a direita quando ativado */
}
